<div class="jumbotron text-center">
    <h1>Digital Marketing Specialist</h1>
    <img src="/images/zee.png">

    <p>Syed Zeeshan Ahmed</p>
</div>
<div class="container services">
    <h2>My Services</h2>
    <p>Boost your online presence with my expert services</p>
    <div class="row">
        <div class="col-md-4 service">
            <h3>SEO</h3>
            <p>Optimize your website to rank higher in search engines</p>
        </div>
        <div class="col-md-4 service">
            <h3>PPC</h3>
            <p>Run targeted advertising campaigns to drive traffic and conversions</p>
        </div>
        <div class="col-md-4 service">
            <h3>Social Media Marketing</h3>
            <p>Engage with your audience and build your brand on social media</p>
        </div>
    </div>
</div>
<div class="container success-stories">
    <h2>Success Stories</h2>
    <div class="row">
        <div class="col-md-6">
            <h3>Clean Max Car Wash</h3>
            <p>"We have been working with Zee for our digital marketing needs, and we couldn't be happier with the results. 
                His expertise and dedication have helped us reach a larger audience and grow our business. 
                I highly recommend Zee to anyone looking to take their digital marketing to the next level."</p>
        </div>
        <div class="col-md-6">
            <h3>Lahori Flame</h3>
            <p>"We've had the pleasure of working with Zee and his strategic approach and attention to detail have significantly increased our online presence and customer engagement. 
                Zee is a professional, responsive, and a true pleasure to work with. We highly recommend his services to anyone looking to enhance their digital marketing strategy."




            </p>
        </div>
    </div>
</div>
<div class="call-to-action">
    <h2>Ready to get started?</h2>
    <p>Contact us today for a free consultation</p>
    <a href="/contact" class="btn btn-lg btn-outline-light">Contact Us</a>
</div>