<div class="container">
    <div class="row justify-content-center">
        <div class="profile-page">
            <section class="profile-section">
                <h2 class="profile-heading">User Profile</h2>
                <div class="profile-info">
                    <img src="images/zee.png" alt="Profile Picture" class="profile-image">
                    <div class="profile-details">
                        <p class="profile-name">Syed Zeeshan Ahmed</p>
                        <p class="profile-email">zee@awispo.com</p>
                        <p class="profile-bio">Digital Marketer</p>
                    </div>
                </div>
            </section>
            <section class="profile-section">
                <h2 class="profile-heading">User Settings</h2>
                <div class="profile-settings">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" value="Zee123" readonly>
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" value="zee@awispo.com" readonly>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" value="********" readonly>
                </div>
            </section>
        </div>
    </div>
</div>
